%YAML:1.0

#common parameters
#support: 1 imu 1 cam; 1 imu 2 cam: 2 cam; 
imu: 1         
num_of_cam: 2  

imu_topic: "/uav1/livox/imu"
image0_topic: "/camera/infra1/image_raw"
image1_topic: "/camera/infra2/image_raw"
output_path: "/home/taolin/VINS_output/"

cam0_calib: "left.yaml"
cam1_calib: "right.yaml"
image_width: 640
image_height: 480
   

# Extrinsic parameter between IMU and Camera.
estimate_extrinsic: 1   # 0  Have an accurate extrinsic parameters. We will trust the following imu^R_cam, imu^T_cam, don't change it.
                        # 1  Have an initial guess about extrinsic parameters. We will optimize around your initial guess.

# mid360 imu 坐标变换矩阵
# body_T_cam0: !!opencv-matrix
#    rows: 4
#    cols: 4
#    dt: d
#    data: [ 1.5121504675211916e-01, -5.5205829933404948e-02,
#        9.8695811764082386e-01, -1.1420233313185326e+00,
#        -9.8849077001262275e-01, -3.9270605551624538e-03,
#        1.5123020794552988e-01, 5.0827859315818582e+00,
#        -4.4729448472496935e-03, -9.9846727264180268e-01,
#        -5.5164283985504659e-02, 3.6146670246061656e-02, 0., 0., 0., 1. ]
# body_T_cam1: !!opencv-matrix
#    rows: 4
#    cols: 4
#    dt: d
#    data: [ 1.5076755207752279e-01, -5.5347183047174786e-02,
#        9.8701865968647939e-01, -1.1334039906020439e+00,
#        -9.8855709087366783e-01, -3.4906863704402546e-03,
#        1.5080680751230824e-01, 5.0288145832505844e+00,
#        -4.9013593974060465e-03, -9.9846106806294965e-01,
#        -5.5240132500309347e-02, 3.6469498249228988e-02, 0., 0., 0., 1. ]

# body_T_cam0: !!opencv-matrix
#    rows: 4
#    cols: 4
#    dt: d
#    data: [ -2.0588813502222525e-02, 1.5501522030972936e-02,
#        9.9966784662371433e-01, 3.4278717617124876e-01,
#        -9.9966312047007699e-01, 1.5485629311472682e-02,
#        -2.0828846748115026e-02, -1.5040238311091350e-01,
#        -1.5803364534158593e-02, -9.9975992023062776e-01,
#        1.5177469151659295e-02, 1.0358693912284532e-01, 0., 0., 0., 1. ]

# body_T_cam1: !!opencv-matrix
#    rows: 4
#    cols: 4
#    dt: d
#    data: [ -2.0708226136131325e-02, 1.5343500334218829e-02,
#        9.9966781801145776e-01, 3.4131419462547558e-01,
#        -9.9966064360652740e-01, 1.5487781277737089e-02,
#        -2.0945793259662282e-02, -2.0592762791544281e-01,
#        -1.5804018301634415e-02, -9.9976232456948833e-01,
#        1.5017568942235715e-02, 1.0352315000253311e-01, 0., 0., 0., 1. ]

# body_T_cam0: !!opencv-matrix
#    rows: 4
#    cols: 4
#    dt: d
#    data: [ -2.0588813502222525e-02, 1.5501522030972936e-02,
#        9.9966784662371433e-01, 3.4278717617124876e-01,
#        -9.9966312047007699e-01, 1.5485629311472682e-02,
#        -2.0828846748115026e-02, -1.5040238311091350e-01,
#        -1.5803364534158593e-02, -9.9975992023062776e-01,
#        1.5177469151659295e-02, 1.0358693912284532e-01, 0., 0., 0., 1. ]
# body_T_cam1: !!opencv-matrix
#    rows: 4
#    cols: 4
#    dt: d
#    data: [ -2.0708226136131325e-02, 1.5343500334218829e-02,
#        9.9966781801145776e-01, 3.4131419462547558e-01,
#        -9.9966064360652740e-01, 1.5487781277737089e-02,
#        -2.0945793259662282e-02, -2.0592762791544281e-01,
#        -1.5804018301634415e-02, -9.9976232456948833e-01,
#        1.5017568942235715e-02, 1.0352315000253311e-01, 0., 0., 0., 1. ]

# 怀疑
# body_T_cam0: !!opencv-matrix
#    rows: 4
#    cols: 4
#    dt: d
#    data: [ 6.9700401605752305e-03, 1.7223205826022436e-04,
#        9.9997569414275200e-01, 3.2775212125904743e-02,
#        -9.9997428467509941e-01, -1.6865989605951981e-03,
#        6.9703208297616781e-03, 1.0827461518214804e-01,
#        1.6877584790644939e-03, -9.9999856285899968e-01,
#        1.6047196676649556e-04, 1.6937393162506040e-01, 0., 0., 0., 1. ]
# body_T_cam1: !!opencv-matrix
#    rows: 4
#    cols: 4
#    dt: d
#    data: [ 6.8174703177333873e-03, 7.0058616621127001e-05,
#        9.9997675832504096e-01, 3.2919644206125837e-02,
#        -9.9997529121040518e-01, -1.7139329731714614e-03,
#        6.8175803940545010e-03, 5.4674462226808739e-02,
#        1.7143707687491960e-03, -9.9999852876169482e-01,
#        5.8372198386003049e-05, 1.6984813511814795e-01, 0., 0., 0., 1. ]



# 好参
# body_T_cam0: !!opencv-matrix
#    rows: 4
#    cols: 4
#    dt: d
#    data: [ 8.0248469853269055e-03, -2.0755475646509258e-02,
#        9.9975237537179629e-01, 2.5393105448156833e-01,
#        -9.9996220082412346e-01, -3.5124046681507259e-03,
#        7.9536115332725088e-03, -5.1723363636704989e-01,
#        3.3464539197701204e-03, -9.9977841207146190e-01,
#        -2.0782877616647211e-02, 2.2747956704544761e-01, 0., 0., 0., 1. ]
# body_T_cam1: !!opencv-matrix
#    rows: 4
#    cols: 4
#    dt: d
#    data: [ 7.7750329494928883e-03, -2.0825125211042961e-02,
#        9.9975290098232739e-01, 2.5438051388373339e-01,
#        -9.9996421087188780e-01, -3.4968390535317084e-03,
#        7.7038361870644390e-03, -5.6578656115560244e-01,
#        3.3355416348352929e-03, -9.9977701827786514e-01,
#        -2.0851567936829518e-02, 2.2786771439280204e-01, 0., 0., 0., 1. ]



# body_T_cam0: !!opencv-matrix
#    rows: 4
#    cols: 4
#    dt: d
#    data: [ 1.1538569457521053e-01, 2.6695847549040697e-02,
#        9.9296196967005490e-01, 6.2315373498599965e-03,
#        -9.8987538039551781e-01, 8.6277235452627554e-02,
#        1.1270745285685907e-01, -3.0690352551826897e-02,
#        -8.2661192673620987e-02, -9.9591343517711950e-01,
#        3.6380720986317727e-02, 1.0629758916467465e-01, 0., 0., 0., 1. ]
# body_T_cam1: !!opencv-matrix
#    rows: 4
#    cols: 4
#    dt: d
#    data: [ 1.1554598769106894e-01, 2.7647611858314436e-02,
#        9.9291728471561391e-01, 1.5045249418163802e-02,
#        -9.8991866951077734e-01, 8.5641084628545139e-02,
#        1.1281237688152335e-01, -8.3921570096028584e-04,
#        -8.1915520400641095e-02, -9.9594237493048687e-01,
#        3.7264370856272655e-02, 1.0484286675425775e-01, 0., 0., 0., 1. ]

# body_T_cam0: !!opencv-matrix
#    rows: 4
#    cols: 4
#    dt: d
#    # 旋转部分：相机Z转为IMU的X，-X转为Y，-Y转为Z
#    data: [  0,  0,  1,  0.14,   # IMU_X = Cam_Z
#            -1,  0,  0,  0.00,  # IMU_Y = -Cam_X (假设cam0在左侧，偏移应为正)
#             0, -1,  0,  0.03,  # IMU_Z = -Cam_Y
#             0,  0,  0,  1 ]

# body_T_cam1: !!opencv-matrix
#    rows: 4
#    cols: 4
#    dt: d
#    data: [  0,  0,  1,  0.14, 
#            -1,  0,  0, 0.0,  # IMU_Y = -Cam_X (假设cam1在右侧，偏移应为负)
#             0, -1,  0,  0.03, 
#             0,  0,  0,  1 ]
body_T_cam0: !!opencv-matrix
   rows: 4
   cols: 4
   dt: d
   data: [ -9.6228034096901283e-04, -3.6965691341612206e-03,
       9.9999270466998003e-01, 2.0436894625367860e-01,
       -9.9999934496821008e-01, 6.2329482610301579e-04,
       -9.5998266161928525e-04, 7.9270013925021796e-02,
       -6.1974163668543358e-04, -9.9999297341541160e-01,
       -3.6971664971487961e-03, -2.5597944941743049e-02, 0., 0., 0., 1. ]
body_T_cam1: !!opencv-matrix
   rows: 4
   cols: 4
   dt: d
   data: [ -1.2891706138749015e-03, -3.7077317528493303e-03,
       9.9999229535250778e-01, 2.0385518192403329e-01,
       -9.9999903534174628e-01, 5.2184031842006373e-04,
       -1.2872444441118236e-03, 2.2972738899750236e-02,
       -5.1706354072517113e-04, -9.9999299017939669e-01,
       -3.7084009173589116e-03, -2.5489550973132307e-02, 0., 0., 0., 1. ]


#  目前效果最好的,imu为/uav/livox/imu
# body_T_cam0: !!opencv-matrix
#    rows: 4
#    cols: 4
#    dt: d
#    data: [ 6.6479959979840242e-02, -4.8724710146618166e-03,
#        9.9777586358224291e-01, 1.6563589717544824e-01,
#        -9.9778207746964542e-01, -3.6996748895745668e-03,
#        6.6462307258101871e-02, 1.3107326451783033e-01,
#        3.3676106422360075e-03, -9.9998128554084609e-01,
#        -5.1076184900173960e-03, -6.7359773008243418e-02, 0., 0., 0., 1. ]
# body_T_cam1: !!opencv-matrix
#    rows: 4
#    cols: 4
#    dt: d
#    data: [ 6.6245904347995488e-02, -4.9919078744140033e-03,
#        9.9779084031318399e-01, 1.6845517917473454e-01,
#        -9.9779752890162476e-01, -3.7405527998430887e-03,
#        6.6227634583782891e-02, 8.2099371445638170e-02,
#        3.4016870708085678e-03, -9.9998054437100192e-01,
#        -5.2287096445819969e-03, -6.6832655786155520e-02, 0., 0., 0., 1. ]

# body_T_cam0: !!opencv-matrix
#    rows: 4
#    cols: 4
#    dt: d
#    data: [ 7.5118992476179813e-02, -5.9915055532613337e-03,
#        9.9715657688778703e-01, 3.7272179206878636e-01,
#        -9.9715801850753150e-01, -6.2140946009139331e-03,
#        7.5081763128104051e-02, -8.0199813082486027e-01,
#        5.7465724999732348e-03, -9.9996274275069696e-01,
#        -6.4412743309394394e-03, -1.5734880444363397e-01, 0., 0., 0., 1. ]
# body_T_cam1: !!opencv-matrix
#    rows: 4
#    cols: 4
#    dt: d
#    data: [ 7.5040492276004844e-02, -6.0604327850213857e-03,
#        9.9716207091597364e-01, 3.7731025637796228e-01,
#        -9.9716409052027011e-01, -6.1906064619727807e-03,
#        7.5003019729314169e-02, -8.6118443451107429e-01,
#        5.7184872001034281e-03, -9.9996247306891051e-01,
#        -6.5077921026284180e-03, -1.5691330261305367e-01, 0., 0., 0., 1. ]


# body_T_cam0: !!opencv-matrix
#    rows: 4
#    cols: 4
#    dt: d
#    # 修改后的矩阵：相机Z轴(前)对应IMU的X轴(红)
#    data: [ 0,  0,  1,  0.0,   # IMU_X = Cam_Z
#           -1,  0,  0, -0.03,   # IMU_Y = -Cam_X
#            0, -1,  0,  0.12,   # IMU_Z = -Cam_Y
#            0,  0,  0,  1 ]

# body_T_cam1: !!opencv-matrix
#    rows: 4
#    cols: 4
#    dt: d
#    data: [ 0,  0,  1,  0.0, 
#           -1,  0,  0,  0.03, 
#            0, -1,  0,  0.12, 
#            0,  0,  0,  1 ]

#Multiple thread support
multiple_thread: 1

#feature traker paprameters
max_cnt: 150            # max feature number in feature tracking
min_dist: 30            # min distance between two features 
freq: 10                # frequence (Hz) of publish tracking result. At least 10Hz for good estimation. If set 0, the frequence will be same as raw image 
F_threshold: 1.0        # ransac threshold (pixel)
show_track: 1           # publish tracking image as topic
flow_back: 1            # perform forward and backward optical flow to improve feature tracking accuracy

#optimization parameters
max_solver_time: 0.04  # max solver itration time (ms), to guarantee real time
max_num_iterations: 8   # max solver itrations, to guarantee real time
keyframe_parallax: 10.0 # keyframe selection threshold (pixel)

#imu parameters       The more accurate parameters you provide, the better performance
acc_n: 0.1          # accelerometer measurement noise standard deviation. #0.2   0.04
gyr_n: 0.01         # gyroscope measurement noise standard deviation.     #0.05  0.004
acc_w: 0.001         # accelerometer bias random work noise standard deviation.  #0.002
gyr_w: 0.0001       # gyroscope bias random work noise standard deviation.     #4.0e-5
g_norm: 9.805         # gravity magnitude

#unsynchronization parameters
estimate_td: 1                      # online estimate time offset between camera and imu
td: 0.00                             # initial value of time offset. unit: s. readed image clock + td = real image clock (IMU clock)

#loop closure parameters
load_previous_pose_graph: 0        # load and reuse previous pose graph; load from 'pose_graph_save_path'
pose_graph_save_path: "/home/yundrone/VINS_output/pose_graph/" # save and load path
save_image: 0                   # save image in pose graph for visualization prupose; you can close this function by setting 0 
